<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"content","style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"default"}} -->
<main id="content" class="wp-block-group" style="margin:0;padding:0;">

    <!-- wp:pattern {"slug":"globaly-block/hero-section"} /-->

    <!-- wp:pattern {"slug":"globaly-block/services-section"} /-->

    <!-- wp:pattern {"slug":"globaly-block/cta-section"} /-->

    <!-- wp:pattern {"slug":"globaly-block/latest-posts-section"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
